<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Payment Dates for the Year</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div id="app">
        <payment-dates></payment-dates>
    </div>

    <script src="{{ asset('build/bundle.js') }}"></script>
</body>
</html>